* {
  box-sizing: border-box;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
  color: white;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

body {
  margin: 0;
  font-family: "Poppins";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* Bagian Main*/
.top-wrapper {
  padding: 100px 0 100px 0;
  background-image: url(https://images.unsplash.com/photo-1502239608882-93b729c6af43?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  color: white;
  text-align: center;
}


.top-wrapper h1 {
  color: #D4ECDD;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 3px;
  font-weight: bold;
}

.top-wrapper p {
  
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.aboutme {
  background-color: #345B63;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

/*lesson Wrapper*/
.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: black;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: darkgoldenrod;
}


/*Akhir bagian Main*/

.container {
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
 }
 footer {
  background-color: #0a3d62;
  background-size: cover;
  height: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
 }
 footer img {
  float: right;
  width: 120px;
 }
 footer p {
  padding-top: 30px;
  float: left;
  font-family: monospace;
  color:  #FFC312;
  font-size: 13px;
 }
